body {
  background-color: darkturquoise;
  text-align: center;
  justify-content: baseline;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header header previous"
  ". main previous"
  ". . previous";
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

/* ----Header---- */

.header {
  background-color: rgb(1, 142, 142);
  grid-area: header;
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: small;
  border-color: black;
  padding-bottom: 25px;
}

/* ----Main---- */

.main {
  background-color: navy;
  color: white;
  grid-area: main;
  min-height: 400px;
  max-height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ----Previous---- */

.previous {
  background-color: darkgreen;
  grid-area: previous;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

/* ----Summaries---- */

.summaries {
  display: flex;
}

.summary {
  flex: 1;
  padding: 20px;
}