body {
  background-color: darkturquoise;
  text-align: center;
  justify-content: baseline;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
}

html,
body {
  margin: 0px;
  height: 100%;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* ----Header---- */

.header {
  background-color: rgb(1, 142, 142);
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: small;
  border-color: black;
  padding-bottom: 25px;
}

/* ----Main---- */

.main {
  background-color: navy;
  color: white;
  min-height: 400px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ----Previous---- */

.previous {
  background-color: darkgreen;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

/* ----Summaries---- */

.summaries {
  display: flex;
}

.summary {
  flex: 1;
  padding: 20px;
}